@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

:root {
    --bg-color: #f0f2f5;
    --primary-accent: #6366f1;
    --secondary-accent: #f43f5e;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:skyblue;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #1e293b;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}